.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;

    vertical-align: middle;
    color: #fff;
  }

  &__bottom {
    padding: 0 20px 40px;
  }
}
