.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--phone {
    background-image: url(../images/icons/icon-phone-number.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close-menu.svg);
  }
}
